// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "octicon-utf-codes";

.php-integrator-refactoring-strike {
    text-decoration: line-through;
}

.php-integrator-refactoring-list-buttons {
    margin-top: 0.5em;
}

.php-integrator-refactoring-list-item {
    .symbol {
        width: 1.5em;
        display: inline-block;
    }

    .display-text {

    }
}
